<!DOCTYPE html>
<html>
  <head>
    <title>登陆</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <link rel='stylesheet' href='/stylesheets/lib/material.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class="login">
    <div class="center">  
    <form action="#" class="login-form">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" style="border-bottom: 1px solid rgba(247, 247, 247, 0.12);" id="sample3">
    <label class="mdl-textfield__label" for="sample3" style="color:white">用户名</label>
  </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="password" style="border-bottom: 1px solid rgba(247, 247, 247, 0.12);" id="sample2">
    <label class="mdl-textfield__label" for="sample2" style="color:white">密码</label>
  </div>
  <div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" 
        style="font-size: 25px;width: 300px;height: 50px;">
    登陆
    </button>
  </div>
</form>
    </div>
    <script src='/javascripts/lib/material.min.js'></script>
  </body>
</html>
